<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Редактировать Пользователя</title>
</head>
<body>
<h1>Редактировать Пользователя</h1>
<form th:action="@{/users/update}" method="post">
  <input type="hidden" name="id" th:value="${user.getId()}">
  <input type="text" name="firstName" placeholder="First Name" th:value="${user.getFirstName()}" required>
  <input type="text" name="lastName" placeholder="Last Name" th:value="${user.getLastName()}" required>
  <input type="number" name="age" placeholder="Age" th:value="${user.getAge()}" required>
  <button type="submit">Сохранить изменения</button>
</form>
<a href="/users">Назад</a>
</body>
</html>
